<app-header [invalidLogin]="true"></app-header>
<section class="container">
    <div class="row m-4">
        <div class="col-lg-4 mt-2">
            <div class="sticky-top">
                <app-user-card></app-user-card>
                <div class="card text-center secondary-shadow mt-2">
                    <!-- <img src="./images/user-default-logo.png" class="card-img-top" alt=""> -->
                    <div class="card-body">
                        <p class="card-text d-flex flex-md-column flex-sm-row">
                            <a routerLink="/upload-media" class="btn btn-dark m-1 form-control">Upload</a>
                            <a routerLink="/my-media-page" class="btn btn-dark m-1 form-control">My Media</a>
                            <a routerLink="/account-details/follow"
                                class="btn btn-dark m-1 form-control">Followers/Following</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 mt-2">
            <div class="secondary-shadow bgDesign p-4">
                <h5 class="h2">{{mediaDetails.title}}</h5>
                <div class="media-container">
                    <img class="card-img-top img-fluid" [src]="mediaDetails.url" alt="Card image cap">
                    <div class="bottom-right d-flex justify-content-end w-100">
                        <p class="mr-3"><i class="fa fa-thumbs-up"></i></p>
                        <p class="mr-3"><i class="fa fa-thumbs-down"></i></p>
                    </div>
                </div>
            </div>
            <div class="secondary-shadow bgDesign p-4 mt-2">
                <form (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col d-flex justify-content-center lead">
                            <button class="badge badge-dark m-1">Sepia</button>
                            <button class="badge badge-dark m-1">Gray</button>
                            <button class="badge badge-dark m-1">Brightness</button>
                            <button class="badge badge-dark m-1">Contrast</button>
                        </div>
                    </div>
                    <div class="form-group row mt-5">
                        <label for="description" class="col-3 col-form-label">Description</label>
                        <div class="col-9">
                            <textarea [(ngModel)]="description" class="form-control" rows="5" name="description"
                                id="description" readonly></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="tags" class="col-3 col-form-label">Tags</label>
                        <div class="col-9">
                            <input [(ngModel)]="tags" type="text" class="form-control" name="tags" id="tags" readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-md-offset-3">
                            <textarea placeholder="Write your comment here!" class=" form-control"></textarea>
                            <br><br>
                            <form class="form-inline">
                                <div class="btn-group">
                                    <button class="btn" type="button"><span class="fa fa-reply"></span></button>
                                    <button class="btn" type="button"><span class="fa fa-thumbs-up"></span></button>
                                    <button class="btn" type="button"><span class="fa fa-thumbs-down"></span></button>
                                    <button class="btn" type="button"><span class="fa fa-trash"></span></button>
                                </div>
                                <a class="btn btn-primary" routerLink="/media-detail">Post</a>
                            </form>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>