<h5 class="h2">Newsfeed</h5>
<div class="row">
    <div class="col">Today</div>
    <div class="col">13:00</div>
    <div class="col">You shared the "iiht" user image title "Full Stackathon"</div>
</div>
<div class="row">
    <div class="col">31-Oct-18</div>
    <div class="col">14:00</div>
    <div class="col">You liked the "IOT Stack Beginners" picture</div>
</div>
<div class="row">
    <div class="col">30-Oct-18</div>
    <div class="col">08:00</div>
    <div class="col">You shared the "google" user media image with title "programming for all"</div>
</div>