<div class="row align-items-center justify-content-between">
 
    <div class="col-auto">
        <div class="container-fluid text-right">
            
                <button class="btn btn-secondary text-white"  routerLink="./followers" routerLinkActive="border border-white btn-dark">
                Followers</button>
            
            
                <button class="btn btn-secondary text-white" routerLink="./following" routerLinkActive="border border-white btn-dark">
                Following</button>
            
        </div>
    </div>
</div>

<router-outlet></router-outlet>