<div class="card mb-3 mt-3">
    <div class="media-container">
        <a routerLink="/media-detail" (click)="sendMediaDetails(mediaDetails.id)"
            class="text-decoration-none text-dark">

            <img class="card-img-top img-fluid" [src]="mediaDetails.url" alt="Card image cap">
        </a>
    </div>
    <div class="top-left d-flex justify-content-end w-100">
        <p class="pr-1"><i class="fa fa-file-image-o"></i></p>
    </div>
    <div class="card-body d-flex justify-content-between">
        <p class="m-1"><span class="badge badge-dark"><i
                    class="fa fa-thumbs-up"></i>&nbsp;{{mediaDetails.likeCount}}</span></p>
        <p class="m-1"><span class="badge badge-dark"><i
                    class="fa fa-thumbs-down"></i>&nbsp;{{mediaDetails.unlikeCount}}</span></p>
        <p class="m-1"><span class="badge badge-dark"><i
                    class="fa fa-comments"></i>&nbsp;{{mediaDetails.commentCount}}</span></p>
    </div>
    <div class="container text-white-50 bg-dark">Posted by: <span class="text-white">{{name}}</span></div>
</div>